body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.ace_editor {
	height: 400px;
	font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a {
	color: #CCC;
}
.navbar-inverse .navbar-brand {
	color: #CCC;
}
.jumbotron {
	padding-top: 10px;
	padding-bottom: 30px;
	margin-bottom: 0;
}
.alerts {
	position: absolute; 
	left: 50%;
}
.alert {
	position: relative;
	left: -50%;
	z-index: 1;
	background-color: rgba(217, 237, 247, 0.8);
	margin-top: 10px;
}