body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.ace_editor {
	height: 400px;
	font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a {
	color: #CCC;
}
.navbar-inverse .navbar-brand {
	color: #CCC;
}
.jumbotron {
	padding-top: 10px;
	padding-bottom: 30px;
	padding-top: 70px;
	margin-bottom: 0;
}
.alerts {
	position: absolute; 
	left: 50%;
}
.alert {
	position: relative;
	left: -50%;
	z-index: 1;
	background-color: rgba(217, 237, 247, 0.8);
	margin-top: 10px;
}




/* Edit rows*/
.customLegend {
	margin-left: 50px;
}
.customLegend-item {
    width: 120px;
    padding: 10px;
    display: inline-block;
    /*cursor: pointer;*/
    margin-right: 10px;
}

.customLegend-label {
	padding-left: 30px;
	font-size: 20px;
}
circular, .circular {
	position: relative;
	top: -10px;
	left: 8px;
}