body {
	background: #D1D5D8;
}
.ace_editor {
	height: 400px;
	font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a {
	color: #CCC;
}
.navbar-inverse .navbar-brand {
	color: #CCC;
}
.jumbotron {
	padding-top: 10px;
	padding-bottom: 30px;
	padding-top: 70px;
	margin-bottom: 0;
}
.alerts {
	position: absolute; 
	left: 50%;
}
.alert {
	position: relative;
	left: -50%;
	z-index: 1;
	background-color: rgba(217, 237, 247, 0.8);
	margin-top: 10px;
}

/* Section */
.section {
	text-align: center;
}
h1 {
	font-size: 4em;
	font-family: arial, helvetica;
}
.section-home {
	background: #D1D5D8
}
.section-feature {
	background: #61BD6D
}
.section-usage {
	background: #A38F84
}

/* Chart */
angularchart {
	stroke-width: 1.5px;
}
.c3-line {
	stroke-width: 3px;
}

/* Edit rows*/
.customLegend {
}
.customLegend-item {
    width: 150px;
    padding: 10px;
    display: inline-block;
    /*cursor: pointer;*/
    margin-right: 10px;
}

.customLegend-label {
	padding-left: 30px;
	font-size: 20px;
}
circular, .circular {
	position: relative;
	top: -10px;
	left: 8px;
}