
@import "icons";
@import "legend";

angularchart, .angularchart {
  display: block;
  position: relative;
}

.chooseXAxis select {
  margin: auto;
  display: block;
}

.chooseChartType {
  float: right;
}

.toggleSubchart {
  float: right;
}
